.admin-profile {
  display: flex;
  gap: rem(24);
}

.admin-profile__container {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  margin-top: rem(7);
}

.admin-profile__role {
  font-size: rem(14);
  line-height: 1.5;
  text-align: right;
  margin: 0;
  color: var(--color-grey-3);

  &--name {
    font-weight: 600;
    color: var(--color-text);
    text-decoration: none;
  }
}

.photo {
  width: rem(60);
  height: rem(60);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-2);
}

.admin-profile__photo {
  display: block;

  &:hover img {
    opacity: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.3s ease;
  }
}
