.content-navigation {
  display: flex;
}

.menu__wrapper {
  padding: rem(50) rem(50) 0 0;
}

.content-navigation__title {
  text-decoration: none;
  font: 700 rem(36) / 1.5 var(--main-font);
  color: var(--color-text);
  padding: 0;
  margin: 0;
}

.content-navigation__box {
  display: flex;
  margin-left: auto;
}

.content-navigation--settings {
  &.content-navigation__menu {
    margin-left: rem(62);
  }
}
.content-navigation__search {
  display: flex;
  align-items: center;
}

.content-navigation__info {
  position: relative;
  color: var(--color-purple);
  min-width: rem(350);
  margin-left: auto;
  align-items: center;

  &--menu {
    margin: 0 auto 0 0;
  }

  label {
    position: absolute;
    left: rem(32);
    top: 50%;
    transform: translateY(-50%);
  }

  svg {
    display: block;
  }
}

.content-navigation__field {
  background-color: var(--color-white);
  padding: rem(16.5) rem(47) rem(16.5) rem(80);
  max-width: 100%;
  border-radius: 2.222em;
  border: 0;
  transition: all 0.3s;
  display: inline-flex;
  line-height: 1.5;
  outline: 0;

  &:focus {
    outline: 2px solid var(--color-purple);
  }
}
