.data-list__item {
  display: grid;
  grid-template-areas: 'data-list__main btn__icon';
  grid-template-columns: 1fr auto;

  &:not(:last-child) {
    margin-bottom: rem(32);
  }
}

.data-list__main {
  display: flex;
  gap: rem(16);
}

.data-list {
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);

  &--:hover img {
    opacity: 0;
  }
}

.data-list__inner {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: rem(4);
  min-width: 0;

  &--notes {
    gap: rem(8);
  }
}

.data-list__inner {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: rem(4);
  min-width: 0;

  &--notes {
    gap: rem(8);
  }
}

.data-list__activity {
  position: absolute;
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: var(--color-green);
  left: -0.9375rem;
  top: 0.25rem;
}

.data-list__date {
  color: var(--color-grey-3);
  font-size: rem(14);
  line-height: 1.5;
  flex-shrink: 0;
}

.btn__icon {
  grid-row-start: 1;
}

.data-list__photo {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-2);
}

.data-list__name {
  text-decoration: none;
  font-weight: 600;
  font-size: rem(14);
  margin: 0;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-list__text {
  font-size: rem(14);
  margin: 0;
  color: var(--color-grey-3);

  &.data-list__text--red {
    color: var(--color-red);
    font-weight: 700;
  }

  &.data-list__text--orange {
    color: var(--color-orange);
    font-weight: 700;
  }

  &.data-list__text--yellow {
    color: var(--color-yellow);
    font-weight: 700;
  }

  &.data-list__text--green {
    color: var(--color-green);
    font-weight: 700;
  }

  &.data-list__text--color {
    color: var(--color-text);
    width: rem(330);
  }

  &.data-list__text--color-activity {
    color: var(--color-text);
  }

  &.data-list__text--purple {
    color: var(--color-purple);
    width: rem(330);
  }
}

.activity__data-list {
  &.data-list {
    display: flex;
    gap: rem(16);
  }
}

.data-list__data-list {
  &.data-list {
    display: flex;
    gap: rem(16);
  }
}
.data-list__data-list {
  &.data-list {
    position: relative;
  }
}

.data-list__check {
  display: flex;
  flex-direction: column;
}

.data-list__photo {
  display: block;
  flex-shrink: 0;

  &--sm {
    width: rem(48);
    height: rem(48);
  }

  &--xl {
    width: rem(120);
    height: rem(120);
  }

  &--md {
    width: rem(60);
    height: rem(60);
  }

  &--ml {
    width: rem(64);
    height: rem(64);
  }

  &--ms {
    width: rem(40);
    height: rem(40);
  }

  &--mg {
    width: rem(200);
    height: rem(200);
    border: 8px solid var(--color-white);
    top: -140px;
    position: absolute;
  }

  &--col-p {
    width: rem(60);
    height: rem(60);
    background-color: var(--color-purple);
  }

  &--col-o {
    width: rem(60);
    height: rem(60);
    background-color: var(--color-orange);
  }

  &--col-y {
    width: rem(60);
    height: rem(60);
    background-color: var(--color-yellow);
  }

  &:hover img {
    opacity: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.3s ease;
  }
}

.data-list__status {
  color: var(--color-grey-3);
  position: relative;
  padding-left: 24px;
}

.data-list__status::before {
  content: '';
  position: absolute;
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: var(--color-green);
  left: 0;
  top: rem(4);
}

.data-list__appellation {
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification__data-list {
  &.data-list {
    margin: 0 0 rem(24) rem(26);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
