.data-list__item {
  display: grid;
  grid-template-areas: 'data-list__main btn__icon';
  grid-template-columns: 1fr auto;

  &:not(:last-child) {
    margin-bottom: rem(32);
  }
}

.data-list__main {
  display: flex;
  gap: rem(16);
}

.data-list {
  margin: 0;
  padding: 0;
  margin-bottom: rem(32);
}

.data-list__inner {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: rem(4);
}

.btn__icon {
  grid-row-start: 1;
}

.data__photo {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-2);

  &--sm {
    width: rem(48);
    height: rem(48);
  }
}

.data-list__size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-list__name {
  text-decoration: none;
  font-weight: 600;
  font-size: rem(14);
  margin: 0;
  color: var(--color-text);
}

.data-list__class {
  font-size: rem(14);
  margin: 0;
  color: var(--color-grey-3);
}

.data-list__photo {
  display: block;
  flex-shrink: 0;

  &:hover img {
    opacity: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.3s ease;
  }
}
