.events-menu {
  height: 100%;
  
 grid-area: header;
}

.events-content {
padding: 3.125rem 3.125rem 2.5rem 3.125rem;
    overflow: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "calendar schedule";
    grid-template-columns: 1fr auto;
    gap: 2.5rem;
    background-color: var(--site-background);
}