.foods-photo {
  display: block;
  border-radius: rem(18);
  overflow: hidden;
  background-color: var(--color-grey-2);
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.foods-photo {
  &--sm {
    aspect-ratio: 1/1;
  }

  &--md {
    aspect-ratio: 1.95/1;
    margin-bottom: rem(24);
  }

  &--lg {
    aspect-ratio: 1.5/1;
  }

  &--ff {
    aspect-ratio: 1/1;
   
  }

 



}
