.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);
}
.inner {
  &.inner__title {
    margin: 0;
    font-size: rem(36);
  }
}

.inner__title {
  text-decoration: none;
  font: 700 rem(36) / 1.5 var(--main-font);
  color: var(--color-text);
  padding: 0;
  margin: 0;
}
