.notification {
  height: 100%;
  overflow: auto;
  padding: rem(50) rem(50) rem(40) rem(50);
  background-color: var(--site-background);
}

.notification__inner {
  padding: rem(32) rem(150) rem(83) rem(32);
  background-color: var(--color-white);
  border-radius: rem(20);
  margin-top: rem(40);
  height: 100%;
}

.notification__activity {
  height: 100%;
}

.notification__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.notification__item {
  padding-left: rem(26);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: rem(16);
    height: rem(16);
    border-radius: 50%;
    z-index: 1;
    border: 4px solid var(--color-purple);
    margin-left: rem(-24);
    margin-top: rem(6);
    background: white;
  }
}

.notification__item::after {
  content: '';
  position: absolute;
  border: solid 2px var(--color-grey-2);
  top: 0;
  bottom: 0;
  margin-left: rem(-17);
  z-index: 0;
}

.notification__item {
  &:last-child {
    &::after {
      position: absolute;
      border: solid 2px var(--color-grey-2);
      top: 0;
      bottom: rem(55);
      margin-left: rem(-17);
      z-index: 0;
    }
  }
}

.notification__item {
  &:first-child {
    &::after {
      position: absolute;
      border: solid 2px var(--color-grey-2);
      top: rem(10);
    }
  }
}

.notification__photo {
  display: block;
  border-radius: rem(18);
  overflow: hidden;
  background-color: var(--color-grey-2);
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.notification__photo {
  &--lg {
    aspect-ratio: 1.5/1;
  }
}

.notification__picture {
  display: flex;
  list-style: none;
  gap: rem(46);
  margin-top: rem(24);
}

.notification__heading {
  font-weight: 700;
  margin-bottom: 0 0 rem(18) 0;
  padding: 0;
  color: var(--color-text);
}

.chat-messages__side-bar {
  padding-right: rem(32);
  position: relative;
}

.chat-messages__side-bar::after {
  content: '';
  border: 1px solid var(--color-grey-3);
  top: rem(-32);
  right: 0;
  bottom: rem(-32);
  position: absolute;
  display: block;
}

.sublist {
  margin: 0;
  padding: 0;
}

.sublist-groups {
  margin: rem(24) 0 rem(24) 0;
  padding: 0;
}

.sublist-chats {
  margin: rem(24) 0 rem(32) 0;
  padding: 0;
}

.chat-messages__navigation-box {
  display: flex;
  justify-content: space-between;
  padding: 0 0 rem(33) 0;
  position: relative;
}

.chat-messages__action {
  display: flex;
  gap: rem(26);
}

.chat-messages__text {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-bottom: rem(16);
  border-radius: 1.111em;
  padding: rem(17) rem(24);
  max-width: fit-content;

  &--exclamation {
    background: var(--color-grey);
    margin-top: rem(32);
  }

  &--interjection {
    background: var(--color-purple);
    color: var(--color-white);
  }
}

.chat-messages__communication {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-bottom: rem(16);
  border-radius: 1.111em 1.111em 1.111em 0;
  padding: rem(17) rem(24);
  max-width: fit-content;

  &--paragraph {
    background: var(--color-grey);
  }

  &--dialogue {
    background: var(--color-purple);
    color: var(--color-white);
    text-align: start;
    padding: rem(15) rem(30);
  }
}

.chat-messages__time {
  color: var(--color-grey-3);
  font-size: 0.875rem;
  line-height: 1.5;
  flex-shrink: 0;
}

.footer-navigation__field {
  background-color: var(--color-white);
  padding: rem(27) rem(10) rem(27) rem(33);
  min-width: 100%;
  border-radius: 2.222em;
  border: 1px solid var(--color-grey-3);
  transition: all 0.3s;
  display: inline-flex;
  line-height: 1.5;
  outline: 0;
  position: relative;

  &:focus {
    outline: 2px solid var(--color-purple);
  }
}

.footer-navigation__field:focus ~ label {
  display: block;
}

.footer-navigation__info {
  &--menu {
    position: relative;
    color: var(--color-grey-3);
    width: 100%;
    align-items: center;

    &:hover {
      svg {
        color: var(--color-purple-hover);
      }
    }
  }
}

.chat-messages__main-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 rem(40);
  position: relative;
}

.footer__search {
  display: flex;
  padding: rem(32) 0 0 0;
  position: relative;
}

.chat-messages__notes {
  list-style-type: none;
  padding: 0;
  margin: rem(40) 0 rem(32) 0;
}

.chat-messages__item {
  display: block;
  flex-shrink: 0;
}

.chat-messages__designation {
  font-weight: 600;
  color: var(--color-grey-3);
  margin: 0;
  padding: 0;
}

.chat-messages__name {
  font-weight: 600;
  color: var(--color-grey-3);
  margin: 0;
  padding: 0;
}

.chat-messages__element {
  display: flex;
  padding: rem(16) 0 rem(23) 0;
  border-bottom: solid 1px var(--color-grey-3);

  &:first-child {
    padding-top: 0;
  }
}

.chat-messages__main {
  &.data-list {
    display: flex;
    gap: rem(16);
    margin: rem(5) auto 0 0;
    min-width: 0;
  }
}

.chat-messages__navigation-box::after {
  content: '';
  border: 1px solid var(--color-grey-3);
  left: 0;
  right: rem(-40);
  bottom: 0;
  left: rem(-40);
  position: absolute;
  display: block;
}

.chat-messages__conversation {
  display: flex;
  flex-direction: column;
}
.chat-messages__talking {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: end;
  align-items: flex-end;
  justify-content: end;
  margin-top: rem(18);
}

.chat-messages__interaction {
  display: flex;
  gap: rem(10);
}

.chat-messages__footer {
  &.footer::before {
    content: '';
    border: 1px solid var(--color-grey-3);
    left: 0;
    right: rem(-40);
    top: 0;
    left: rem(-40);
    position: absolute;
    display: block;
  }
}

.chat-messages__footer {
  &.footer {
    position: absolute;
    bottom: 0;
    left: rem(50);
    right: 0;
  }
}
