.statistic__duration {
  &.percent {
    &--green {
      span::after {
        color: var(--color-green);
        content: '%';
      }
      span {
        color: var(--color-green);
        font-weight: 600;
      }
    }
    &--red {
      span::after {
        color: var(--color-red);
        content: '%';
      }
      span {
        color: var(--color-red);
        font-weight: 600;
      }
    }
  }
}

.percent {
  &::after {
    content: '%';
  } 
}

