.side-bar {
  background-color: var(--color-purple);
  padding: rem(50) 0 rem(50) rem(46);
  width: rem(345);
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
  grid-row-start: 1;
  grid-row-end: 3;
 
}
