.status {
  font-weight: 600;
  line-height: 1.5;

  &--complete {
    color: var(--color-green);
    justify-self: end;
  }
  
  &--pending {
    color: var(--color-grey-3);
    justify-self: end;
  }

  &--canceled {
    color: var(--color-red);
    justify-self: end;
  }
}
