.students-menu {
  height: 100%;
  overflow: auto;
  padding: rem(50) rem(50) rem(40) rem(50);
  background-color: var(--site-background);
}

.students-menu__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);
}
.students-menu__inner {
  &.title {
    margin: 0;
    font-size: rem(36);
  }
}
.header__wrapper {
  display: flex;
  margin-bottom: rem(40);
}

.students-menu__title {
  text-decoration: none;
  font: 700 rem(36) / 1.5 var(--main-font);
  color: var(--color-text);
  padding: 0;
}
