.student-communication__head {
  display: grid;
  grid-template-areas: 'data__text  btn__icon';
  grid-template-columns: 1fr auto;
  margin-bottom: rem(35);
}

.student-communication__inner {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: rem(35);
  grid-template-areas:
    'data__text  btn__icon'
    'student-communication-identification student-communication-identification';
}

.student-communication__data {
  &.data {
    margin-bottom: rem(64);
  }
}

.student-communication__info {
  margin-top: rem(4);
}

.student-communication__text {
  color: var(--color-grey-3);
  font-size: rem(14);
  margin: 0;
}

.btn__icon {
  grid-row-start: 0;
  grid-column-end: -1/-2;
  justify-self: end;
}

.user__notes {
  &.notes {
    grid-area: notes;
    padding: rem(32);
    background-color: var(--color-white);
    border-radius: rem(20);
  }
}

.student-communication__paragraph {
  color: var(--color-grey-3);
  font-size: rem(16);
  font-weight: 600;
  margin: rem(4) 0 0 0;
  padding: 0;

  &--purple {
    color: var(--color-text);
  }
}
