.student-communication__head {
  display: grid;
  grid-template-areas: 'data__text  btn__icon';
  grid-template-columns: 1fr auto;
  margin-bottom: rem(35);
}

.student-communication__data {
  &.data {
    margin-bottom: rem(64);
  }
}
.student-communication__info {
  margin-top: rem(4);
}

.student-communication__text {
  color: var(--color-grey-3);
  font-size: rem(14);
  margin: 0;
}

.btn__icon {
  grid-row-start: 0;
  grid-column-end: -1/-2;
  justify-self: end;
}
