.unpaid-student {
  background-color: var(--color-white);
  border-radius: 1.111em;
  padding: rem(32);
  margin-bottom: rem(30);
  grid-area: unpaid;
}

.unpaid-student__title {
  margin-bottom: rem(24);
}

.unpaid-student__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.unpaid-student__item {
  padding: rem(28) 0;
  display: grid;
  grid-template-columns: 1fr 20% 20% 16% rem(48) rem(48);
  gap: rem(10);
  align-items: center;
}

.unpaid-student__info {
  display: flex;
  align-items: center;
  gap: rem(24);
}

.unpaid-student__id {
  font-weight: 600;
  color: var(--color-purple);
}
.unpaid-student__name,
.unpaid-student__denotation,
.unpaid-student__purchase {
  font-weight: 600;
  color: var(--color-text);
}
.unpaid-student__class {
  display: flex;
  gap: rem(16);
}
.unpaid-student__name {
  text-decoration: none;
  cursor: pointer;
}

.unpaid-student__desc,
.unpaid-student__denotation {
  display: block;
}

.unpaid-student__desc {
  color: var(--color-grey-3);
  font-size: rem(14);
  line-height: 1.5;
}
