.user-dashboard {
  height: 100%;
  overflow-y: auto;
  padding: rem(50);
  display: grid;
  grid-template-areas:
    'user-navigation user-navigation'
    'user-data user-data'
    'student-communication notes';
  grid-template-columns: 460fr 507fr;
  gap: rem(40);
  flex-grow: 1;
  background-color: rgba(243, 244, 255, 1);
}

.user-navigation {
  &.menu {
    grid-area: user-navigation;
  }
}

.user-dashboard {
  height: 100%;
  overflow-y: auto;
  padding: rem(50);
  display: grid;
  grid-template-areas:
    'header header'
    'user-data user-data'
    'student-communication notes';
  grid-template-columns: 460fr 507fr;
  grid-template-rows: auto 1fr;
  gap: rem(40);
  flex-grow: 1;
  background-color: rgba(243, 244, 255, 1);
}

.header {
    grid-area: header;
  }

