.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-white);
  text-decoration: none;
  flex-shrink: 0;

  &--students {
    background-color: var(--color-purple);
  }

  &--teachers {
    background-color: var(--color-orange);
  }

  &--events {
    background-color: var(--color-yellow);
  }

  &--foods {
    background-color: var(--color-text);
  }
  &--trending {
    background-color: var(--color-red);
  }

  &--sm {
    width: rem(40);
    height: rem(40);
  }

  &--md {
    width: rem(48);
    height: rem(48);
  }

  &--mg {
    width: rem(56);
    height: rem(56);
  }

  &--lg {
    width: rem(72);
    height: rem(72);
  }
}
