.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  background: var(--color-purple);
  box-shadow: 0 rem(20) rem(50) 0 rgba(191, 21, 108, 0.05);
  cursor: pointer;
  color: var(--color-white);
  transition: background 0.3s;

  &:hover,
  &:active {
    background-color: var(--color-purple-hover);
  }

  &:disabled {
    @include disabled;
  }
}
