.btn-outline {
  display: block;
  text-decoration: none;
  font-size: rem(18);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: rem(10) rem(24);
  cursor: pointer;
  border-radius: 2.222em;
  border: 2px solid var(--color-purple);
  text-align: center;
  color: var(--color-purple);

  &:hover,
  &:active {
    color: var(--main-color-text-hover);
  }

  &:disabled {
    color: var(--color-disabled);
    background-color: var(--bg-disabled);
    cursor: default;
    border: var(--color-disabled);
  }
}
