.btn-newest,
.btn-month,
.btn-month-sort,
.btn-year
 {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  gap: rem(16);
  text-decoration: none;
  line-height: 1.56;
  color: var(--color-purple);
  padding: rem(13) rem(45);
  cursor: pointer;
  max-width: 100%;
  min-width: rem(207);
  border-radius: 2.222em;
  border: 2px solid currentColor;
  box-shadow: var(--bsh);
  transition: all 0.3s;
background-color: transparent;
  &:hover {
    color: var(--main-color-text-hover);
  }

  &:active {
    outline: 0;
  }

  &:disabled {
    @include disabled;
  }

  &--wide {
    padding: rem(12) rem(44);
    gap: rem(16);
  }

  &--right {
    margin-right: rem(24);
  }
  &.btn-month-sort {
    margin-left: rem(48);
  }


}
