.btn-view-more {
  display: block;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.56;
  background-color: var(--linear-transparent-purple-10);
  border-radius: 2.222em;
  cursor: pointer;
  box-shadow: 0 rem(20) rem(50) 0 rgba(191, 21, 108, 0.05);
  padding: rem(17);
  text-align: center;
  width: 100%;
  color: var(--color-purple);
  border: 0;

  &:hover,
  &:active {
    background-color: var(--main-color-text-hover);
  }

  &:disabled {
    @include disabled;
  }
}
