.btn-print,
.btn-dots,
.btn-attach{
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(46);
  height: rem(46);
  padding: rem(10);
  cursor: pointer;
  color: var(--color-grey-3);
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  &:hover {
    color: var(--color-purple);
  }

  &--color {
    color: var(--color-white);
  }

  &--chat {
    color: var(--color-grey-3);
  }

  &--file{
    
    position: absolute;
    top:rem(13);
    right:rem(153);
  }

}