.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  line-height: 0;
  box-shadow: var(--bsh);
  cursor: pointer;
  background-color: transparent;
  color: var(--color-grey-3);
  border: 2px solid currentColor;

  &:hover,
  &:active {
    background-color: var(--color-purple);
    border-color: var(--color-purple-hover);
    color: var(--color-white);
  }
}
