.btn-outline {
  display: inline-flex;
  text-decoration: none;
  line-height: 1.56;
  padding: rem(14) rem(24);
  cursor: pointer;
  border-radius: 2.222em;
  border: 2px solid currentColor;
  text-align: center;
  color: var(--color-purple);

  &:hover,
  &:active {
    color: var(--main-color-text-hover);
  }

  &:disabled {
    @include disabled;
  }
}
