.btn {
  display: inline-flex;
  align-items: center;
  gap: rem(16);
  text-decoration: none;
  color: var(--color-white);
  line-height: 1.56;
  background: var(--color-purple);
  padding: rem(16) rem(24);
  cursor: pointer;
  max-width: 100%;
  border-radius: 2.222em;
  border: 0;
  box-shadow: var(--bsh);
  transition: all 0.3s;

  &--wide {
    padding: rem(16) rem(24);
  }

  &:hover {
    background-color: var(--color-purple-hover);
  }

  &:active,
  &:focus {
    outline: 0;
  }

  &:disabled {
    @include disabled;
  }
}
