body {
    min-height: 100%;  
    font-size: rem(18);
    background-color: --site-background;
    font-family:  400 rem(18) 1.5 var(--main-font);
   
  }

  html {
    box-sizing: border-box;
    height: 100%;
    hyphens: auto;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
