body {
  min-height: 100%;
  background-color: var(--site-background);
  font: 400 rem(18)/1.5 var(--main-font);
}

html {
  box-sizing: border-box;
  height: 100%;
  hyphens: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

