
.btn-icon {
    text-align: center;
    width: rem(48);
    height: rem(48);
    display: block;
    border-radius: 40px;
    background: var(--color-Purple);
    box-shadow: rem(0) rem(20) rem(50) rem(0) rgba(191, 21, 108, 0.05);
   
}