
.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 0;
  width: rem(48);
  height: rem(48);
  display: block;
  border-radius: 50%;
  line-height: 0;
  background: var(--color-purple);
  box-shadow: rem(0) rem(20) rem(50) rem(0) rgba(191, 21, 108, 0.05);
  cursor: pointer;
  color: var(--color-white);
  transition: background 0.3s;

  &:hover,
  &:active {
    background-color: var(--color-purple-hover);
  }
  
  &:disabled {
    color: #b9b9b9;
    background-color: #e7e7e7;
    cursor: default;
  }
}
