.btn-outline{
    display: block;
    min-height: rem(60);
    text-decoration: none;
    font-size: rem(18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: rem(10) rem(24);
    border-radius: 40px;
    border: 2px solid var(--color-purple);
    text-align: center;
    color: var(--color-purple);
    
    
    &:hover,
    &:active {
      border-radius: 30px;
      color:var(--main-color-text-hover);
  
    }

    &:disabled {
      color: #b9b9b9;
      background-color: #e7e7e7;
      outline: 4px solid rgba(252, 252, 252, 0.4);
      cursor: default;
    }

}