.new-student-btn{
    display: inline-flex;
    align-items: flex-start;;
    gap: rem(10);
    box-sizing: border-box;
    text-decoration: none;
    font-size: rem(18);
    font-weight: 400;
    position: relative;
    color: var(--color-white);
    background: var(--color-purple);
    background-clip: padding-box;
    padding: rem(16) rem(43);
    min-height: rem(60);
    cursor: pointer;
    appearance: none;
    max-width: rem(207);
    outline: 0;
    border-radius: 40px;
    border: 2px solid var(--color-purple);
    box-shadow: rem(0) rem(20) rem(50) rem(0) rgba(191, 21, 108, 0.05);

    
  
    &:active {
      outline: 0;
    }
  }