.sorting__control{
    display: inline-flex;
    align-items: flex-start;;
    gap: rem(10);
    box-sizing: border-box;
    text-decoration: none;
    font-size: rem(18);
    font-weight: 400;
    position: relative;
    color: var(--color-purple);
    background-clip: padding-box;
    padding: rem(16) rem(43);
    min-height: rem(60);
    cursor: pointer;
    background-image: url(/img/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right rem(14) center;
    appearance: none;
    max-width: rem(207);
    outline: 0;
    border-radius: 40px;
    border: 2px solid var(--color-purple, #4D44B5);
    box-shadow: rem(0) rem(20) rem(50) rem(0) rgba(191, 21, 108, 0.05);

    
    &:active {
      outline: 0;
    }
    &:disabled {
      color: #b9b9b9;
      background-color: #e7e7e7;
      outline: 4px solid rgba(252, 252, 252, 0.4);
      cursor: default;
    }

  }