// Scss variables

  :root {
    --color-purple:#4D44B5;
    --color-purple-hover:#584dcf;
    --color-orange:#FB7D5B;
    --color-yellow:#FCC43E;
    --color-text:#303972;
    --color-gray-2:#C1BBEB;
    --linear-transparent-purple-10:rgba(77, 68, 181, 0.10);
    --color-green:#4CBC9A;
    --color-red:#FF4550;
    --site-background:#F3F4FF;
    --color-white:#FFF;
    --color-gray:#F5F5F5;
    --color-gray-3:#A098AE;
    --linear-transparent-linear-1:(180deg, #FB7D5B -242.86%, rgba(251, 125, 91, 0.00) 100%);
    --linear-transparent-linear-2:(180deg, #FCC43E -241.95%, rgba(252, 196, 62, 0.00) 100%);
    --linear-transparent-linear-3:(179deg, #4D44B5 -47.98%, #303972 163.51%);
    --main-font: "Poppins", "Tahoma", "Helvetica", sans-serif;
    --main-color-text-hover: rgba(51, 51, 51, 0.5);
    // --color-disabled: ;
    // --bg-disabled: ;
  // CSS variables
}



