.view-more-btn {
    display: block;
    text-decoration: none;
    font-size: rem(18);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:var(--linear-transparent-purple-10);
    border-radius: 40px;
    box-shadow: rem(0) rem(20) rem(50) rem(0) rgba(191, 21, 108, 0.05);
    padding: rem(17) rem(109);
    color:var(--color-purple);
    
    
    &:hover,
    &:active {
      border-radius: 30px;
      color: var(--main-color-text-hover);
  
    }
    &:disabled {
      color: #b9b9b9;
      background-color: #e7e7e7;
      outline: 4px solid rgba(252, 252, 252, 0.4);
      cursor: default;
    }
}